{% extends '_template.html.twig' %}

{% block main %}
<h1>Of Mice and Men</h1>


    <div id ="column_container"><!-------container to flex------>
        <section>
            <p>
                Welcome to my website. My website is based on Entertainment, with the main focus being on books. The book in particular that I will be covering is Of Mice And
                Men by John Steinbeck.

            </p>
        </section>
        <div id ="category_container"><!-----container around categories to flex------>
            <section>
                <img src= "../images/cover.jpg"/>
            </section>
        </div>
    </div>

{% endblock %}